.app {
  background-color: #ffff;
  min-height: 80vh;
  width: 400px;
  margin:  20px auto;
  border-radius: 10px;
}

body {
  background-color: #f3a14d;
}

.crossed {
  text-decoration: line-through 2px #e34949;
  background-color: #f9effe;
  border-radius: 3px;
}
input {
  flex: 1;
  padding: 8px;
  margin: 10px;
	font-size: 16px;
	border: 1px solid #dadadb;
	border-radius: 5px;
  outline: none;
}
input:focus {
  box-shadow: 2px 2px 3px 0 #a56ed5;
}

ul, li {
  list-style-type: none;
  padding:  10px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #a56ed5;
  font-family: "Poetsen One", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.add {
  background: #7acd25;
  margin-top: 5px;
}

.delete {
  background: #e34949;
  margin-bottom: 5px;
}
.btn {
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  }

  